.clases_contenedor {
    @include flex(row, space-around, center);
    @media screen and (max-width: 1024px){
        flex-direction: column;
    }
}
.clases__articulo {
    height: 70vh;
    @include flex(column, space-evenly, center);
    @include articles;
    margin: 0px 20px;       
}
.masthead_clases { /* contenedor hero */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
    z-index: 1;
    position: relative;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.65) 100%), url("../multimedia/Fotos/nuevas_fotos/3.JPG") no-repeat center center scroll;
}
.masthead_clases_guitarra { /* contenedor hero */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%; /* if you don't want it to take up the full screen, reduce this number */
    z-index: 1;
    position: relative;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.65) 100%), url("../multimedia/Fotos/clases.jpg") no-repeat center center scroll;
}
.masthead_clases_audio { /* contenedor hero */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 90%; /* if you don't want it to take up the full screen, reduce this number */
    z-index: 1;
    position: relative;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.65) 100%), url("../multimedia/Fotos/partituras.jpg") no-repeat center center scroll;
}
/* ---CONTACTO-formulario animado-- */
.contenedor_form {
    @include flex (row, space-around, start);
}
form, textarea {
    font-family: $fuente_textos;
    justify-items: center;
    max-width: 40vh;
    height: 30vh;
}
.mapa {
    height: 60vh;
    border-radius: 15px;
    box-shadow: $sombra_btns;
}
  /* Make the field a flex-container, reverse the order so label is on top.*/
.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;   
}
textarea {
    width: 100%;
    border-radius: 5px;
}
  /*Add a transition to the label and input. */
label, input {
    transition: all 0.5s;
    touch-action: manipulation;
}
input:not([type=checkbox]) {
    font-size: 1.4em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0px;
    cursor: text;
    justify-items: center;
}
input:focus {
    outline: 0;
    border-bottom: 5px solid #666;
}
label {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-align: left;
}
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.*/
input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left;
    transform: translate(0, 2.125rem) scale(1.4);
}
/*By default, the placeholder should be transparent. Also, it should inherit the transition.*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
/*Show the placeholder when the input is focused.*/
input:focus::-webkit-input-placeholder {
    opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}
.destacado__btn input {
    background: $color_principal;
    font-size: 2em;
    border: 1px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    max-width: 66.66%;
    letter-spacing: 0.05em;
    color: lightgray;
    margin-top: 7px;
    margin-bottom: 30px;
    box-shadow: $sombra_btns;
    &:hover {
        background: $color_animado;
    }
}
// boton hover de contacto en clases
.boton_clases {
    text-align: right;
    background-color: $color_principal;
    font-size: 12px;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 10px 10px 5px #888888;
    & h3 {
        font-family: $fuente_titulos;
        color: $blanco;
        &:hover {
        color:  rgb(255, 77, 71);
        }
    }
    & a {
        text-decoration: none;
    }
}

.contact {
    height: 100vh;
}

@media screen and (min-width: 300px) and (max-width: 800px){
    .contenedor_form {
        @include flex (column, center, center );
    }
    .contact {
        height: 150vh;
    }
    .mapa {
        height: 50vh;
        width: 80vw;
    }
    .clases {
        height: 160vh;
    
    }
}
@media screen and (min-width: 300px) and (max-width: 800px) {
    .contenedor_form {
        @include flex (column, center, center );
    }
    .contact {
        height: 150vh;
    }
    .mapa {
        height: 50vh;
        width: 80vw;
    }
    .clases {
        height: 160vh;
    }
    .clases__articulo {
        margin-top: 10px;
    }
}
@media screen and (min-width: 767px) and (max-width: 769px) {
    .contenedor_form {
        @include flex (column, center, center );
    }
    .contact {
        height: 130vh;
    }
    .mapa {
        height: 50vh;
        width: 80vw;
    }
    .clases {
        height: 160vh;
    
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    .contenedor_form {
        @include flex (column, center, center);
    }
    .contact {
        height: 100vh;
    }
    .mapa {
        height: 50vh;
        width: 80vw;
    }
    .clases {
        height: 150vh;
    
    }

}