.masthead_music { /* hero inicial */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: right;
  width: 100%;
  height: 100vh; 
  z-index: 1;
  position: relative;
  background-size: cover !important;
  background: radial-gradient(ellipse at left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.65) 100%), url("../multimedia/Fotos/nuevas_fotos/5.JPG") no-repeat center center scroll;
  @media screen and (max-width: 768px) {
    background-size: 100vh;
    background-image: url("../multimedia/fotos/6.jpg");
    background-position: top;
  }
}

/*animación del disco con el ink a club del disco*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.galeria_video {
  @include flex(row, center, center);
  flex-wrap: wrap;
}
.text {/*boton hover sobre el disco*/
  text-align: right;
  background-color: rgb(255, 77, 71);
  border-radius: 10px;
  padding: 6px;
  box-shadow: 10px 10px 5px #888888;
  
  & h3 {
    font-family: $fuente_titulos;
    color: $color_principal;
    @media screen and (min-width: 300px) and (max-width: 700px) {
      font-size: 15px;
    }
    &:hover {
      color: $blanco;
    }
  }
  & a {
      text-decoration: none;
  }
}
.container {
  position: relative;
  width: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.galeria_musica { /*wrapper para los items en musica*/
  @include flex(row, center, center);
  flex-wrap: row wrap;
}
.contenedor_musica { /*contenedores para el reproductor de spotify y bandcamp*/
  padding: 20px;
  padding-bottom: 20px;
}

.music .contenedor_musica iframe {
  border: 0;
  width: 300px;
  height: 350px;
}
.contenedor_video { /*contenedores para el reproductores de youtube*/
  padding: 0 10px 10px;
}
.video .contenedor_video iframe {
  width: 100%;
  height: 250px;
  padding: 0.5em;
}
iframe:hover {
  opacity: .5;
  transition: .9s;
}


@media screen and (min-width: 300px) and (max-width: 700px) {
  .video {
    height: 190vh;
    @media screen and (min-width: 375px) and (max-width: 412px) {//iphone x
      height: 170vh;
      
    }
  }
  .music {
    @media screen and (min-width: 375px) and (max-width: 412px) {//iphone x
      height: 150vh;
      @media screen and (min-height: 665px) and (max-height: 669px) { //iphone 678
        height: 170vh;
      }
    }
    height: 190vh;
  }
  .galeria_musica {
    @include flex(column, center, center);
    flex-wrap: wrap;
  }
  .contenedor_musica {
    padding: 10px 10px;
    align-self: center;
  }
  .music .contenedor_musica iframe {
    border: 0;
    width: 280px;
    height: 350px;
  }
  .music_player {
    width: 350px;
    height: 450px;
  }
  .video .contenedor_video iframe {
    height: 220px;
    width: 300px;
}
}
@media screen and (min-width: 765px) and (max-width: 768px) {
  .video {
    height: 100vh;
  }
  .music {
    height: 170vh;
  }
  .galeria_musica {
    @include flex(column, center, center);
    flex-wrap: wrap;
  }
  .contenedor_musica {
    padding: 10px 10px;
    align-self: center;
    height: 100%;
  }
  .music .contenedor_musica iframe {
    border: 0;
    width: 500px;
    height: 500px;
  }
  .video .contenedor_video iframe {
    height: 220px;
    width: 300px;
}
}
@media screen and (min-width: 801px) and (max-width: 1025px) {
  .video {
    height: 130vh;
  }
  
}