.prensa {
    @include flex(row, space-evenly, stretch);
}
  
.prensa__articulo {
        @include articles;
        margin: 0px 10px;
}
    
.prensa__titulo {
        @extend %titulo;
        
}

.otros_artículos {
        @include flex( column, center, center);
        flex-wrap: wrap;
}
.noches_de_jazz {
height: 55%;
width: 55%;
}
.noches_de_jazz:hover {
opacity: .5;
transition: .9s;
}
.argentjazz {
height: 55%;
width: 55%;
}
.argentjazz:hover {
opacity: .5;
transition: .9s;
}
.el_intruso {
height: 75%;
width: 75%;
}
.el_intruso:hover {
opacity: .5;
transition: .9s;
}

@media screen and (min-width: 300px) and (max-width: 800px) {

        .prensa {
                @include flex(column, space-evenly, stretch);
            }
            
}
