$color_principal:#160707; 
$color_animado: #626463;
$blanco: rgb(255, 255, 255);
$fuente_titulos: 'Roboto Slab', serif;
$fuente_textos: 'Roboto', sans-serif;
$tamanio_titulos: 2.5rem;
$tamanio_titulos2: 1.5rem;
$tamanio_textos: 1.0rem;
$tamanio_textos_grande: 1.2rem;
$sombra_btns: 0 0 10px rgba(0,0,0,0.5);
$sombra_cajas: 0 0 10px rgba(0,0,0,0.2);