nav {
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: left;
    overflow: hidden;
}

nav a::before {
    content: '';
    display: flex;
    height: 6px;
    background-color:lightgray;
    
    top: 8.5%;
    width: 0%;
    transition: all ease-in-out 300ms;
}
  
nav a:hover::before {
    width: 30px;
}
